@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global tweaks */
:root {
  --ui-bg: #f3f4f6;
  --ui-text: #1f2937;
}
html, body, #root { height: 100%; }
body {
  @apply bg-gray-100 text-gray-800;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
               Roboto, "Helvetica Neue", Arial;
}
